<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head(#{ranking.pageTitle})}"></head>
<body>
    <header th:replace="~{fragments/layout :: header}"></header>

    <main class="container">
        <a class="back-link" th:href="@{/}">&laquo; <span th:text="#{action.backToTop}"></span></a>

        <div class="card">
            <h1 th:text="#{ranking.heading}"></h1>
            <div th:replace="~{fragments/layout :: rankingTabs(
                     ~{fragments/layout :: rankingTable(${globalRanking}, true)},
                     ~{fragments/layout :: rankingTable(${localRanking}, false)},
                     '/ranking')}"></div>
            <p class="notice" th:text="'※' + #{ranking.notice}"></p>
            <a class="btn btn-secondary" th:href="@{/ranking/players}" th:text="#{playerRanking.viewAll}"></a>
        </div>
    </main>
</body>
</html>
